


 html,body,div,span,applet,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:16px;font:inherit}

input,textarea{outline:none}
textarea{resize:none;overflow:hidden}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}

table{border-collapse:collapse;border-spacing:0}

html{height:100%}
body{color:#222;text-align:left;opacity:0;height:100%}
body.visible  {opacity:0.9;}

/*
font-family: Georgia;
font-family: Times New Roman;
font-family: Arial;
font-family: Helvetica;
font-family: Arial Black;
font-family: Impact;
font-family: Lucida Sans Unicode;
font-family: Tahoma;
font-family: Verdana;
font-family: Courier New;
font-family: Lucida Console;
font-family: serif;
font-family: sans-serif;
font-family: cursive;
font-family: fantasy;
font-family: monospace;
*/


.cards-desc__author-block{float:none;display:block;margin-bottom:32px; margin-top:32px}
.cards-desc__author-photo{display:inline-block;vertical-align:middle;width:24px;height:24px;border:2px solid #918851;overflow:hidden;border-radius:30%}
.cards-desc__author-photo-img{max-width:100%}
.cards-desc__author-name{font-size:13px}
.cards-desc__author-name{font-size:14px;color:#918851;font-family:'Arial Black', sans-serif;display:inline;text-decoration:none}
.cards-desc__post-date{font-size:13px}
.cards-desc__post-date{color:rgba(0,95,0,0.4);font-family:'Courier New',sans-serif;font-weight:400;font-size:14px;display:inline; padding-left: 22px;}



.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}.hidden-element{display:none}

.places-list__item{padding-bottom:30px;border-bottom:1px solid #e7e7e7;margin-bottom:30px}
.places-list__item-left-part{float:left;width:74%}
.places-list__item-top{margin-bottom:30px}
.places-list__place-image{width:120px;height:120px;display:block;margin-left:auto;margin-right:auto;margin-bottom:10px}
.places-list__place-image-wrap{width:120px;height:120px;display:block;margin-left:auto;margin-right:auto;margin-bottom:10px}
.places-list__place-position{position:absolute;width:44px;height:44px;background-color:blue;border-radius:200px;box-shadow:4px 4px 4px rgba(66,64,45,0.91);left:0;top:0;z-index:20;line-height:44px;text-align:center;color:white;font-family: Impact; font-size:21px;letter-spacing:.8px}
 

/* obelisk round photo */

.places-list__place-image-wrap{position:relative;display:inline-block;vertical-align:top;margin-right:26px;width:250px;height:250px}


.places-list__place-image{width:250px;height:250px;margin-right:26px;border-radius:50%;overflow:hidden;display:inline-block;vertical-align:top;position:relative;background-size:cover;background-repeat:no-repeat;background-position:center center;text-decoration:none; opacity: 1;}

.places-list__place-image:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;border-radius:50%;background:linear-gradient(135deg, rgba(30,83,136,0.1) 0, rgba(30,83,136,0.64) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1e5388', endColorstr='#a31e5388', GradientType=1);opacity:0;visibility:hidden;transition:all .3s ease}
.places-list__place-image:hover:after{opacity:1;visibility:visible}

/* obelisk round photo */


a  {
text-decoration: none;
color: white;
}

a:hover  {

color:#918851;
font-style:italic;
text-shadow: 2px 2px 5px #000000;
transition:all 1.9s ease;
}

/*

a  {
display:inline-block;font-size:14px;font-family: Arial, sans-serif;font-weight:400;line-height:1.43;color:black; text-align: justify; 
}

*/


.places-list__place-text-wrap{display:inline-block;vertical-align:top;width:calc(100% - 150px - 30px);margin-right:-4px}
.places-list__place-text-block{padding-right:60px}
.places-list__place-text{display:block;font-size:14px;font-family: Arial, sans-serif;font-weight:400;line-height:1.43;color:black; text-align: justify; padding-left: 22px;}
.places-list__place-country{color:rgba(0,0,0,0.4);font-family:'Arial',sans-serif;font-size:12px;margin-bottom:10px; width:222px;}
.places-list__place-name-wrap{margin-bottom:14px; width:222px}
.places-list__place-name{color:black;font-family:'Arial',sans-serif;font-size:14px;transition:all 1.9s ease; text-decoration:none;}
.places-list__place-name:hover{color:#918851; width:222px;}










