




.container{max-width:1500px;margin-left:auto;margin-right:auto;padding-left:30px;padding-right:30px;box-sizing:border-box}
.container_with-no-padding-left{padding-left:0}
.container_with-no-padding{max-width:1440px;padding-left:0;padding-right:0}

@media screen and (max-width:1030px){.container{padding-left:18px;padding-right:18px}

.container_with-no-padding{padding-left:0;padding-right:0}}

@media screen and (max-width:415px){.container{padding-left:0;padding-right:0}}

.container-min{max-width:1050px;margin-left:auto;margin-right:auto;padding-left:30px;padding-right:30px;box-sizing:border-box}

@media screen and (max-width:415px){.container-min{padding-left:0;padding-right:0}}

.container-middle{max-width:1305px;margin-left:auto;margin-right:auto;padding-left:30px;padding-right:30px;box-sizing:border-box}









.form__input-holder{margin-bottom:20px;text-align:left;width:100%;position:relative}
.form__input-holder .form__input-holder{display:inline-block;vertical-align:top;width:calc((100% - 20px - 105px) / 2);margin-right:16px;margin-bottom:0}
.form__input-holder .form__input-holder:last-child{margin-right:-4px}

.add-new-place .form__input-holder .form__input-holder{width:calc((100% - 20px) / 2)}
.add-new .form__input-holder .form__input-holder{width:calc((100% - 20px) / 2)}
.form__input-holder_count:after{content:attr(data-symbols);position:absolute;right:0;top:-20px;color:rgba(0,0,0,0.4);font-family:'Conv_MuseoSansCyrl-500',sans-serif;font-size:12px}

.add-new__place-block-wrap .form__input-holder{width:calc(100% - 105px);white-space:nowrap !important}

.form__input-holder-label{color:black;font-family:'MuseoSansCyrl-700',sans-serif;font-size:14px;margin-bottom:10px}
.form__input-holder-label_float{margin-bottom:0;float:left}
.form__input{display:block;width:100% !important;box-sizing:border-box;height:40px;background-color:white;border:1px solid rgba(0,0,0,0.2);border-radius:2px;padding:0 10px;line-height:normal !important;color:black;font-family:'Roboto',sans-serif;font-weight:400;font-size:14px;-webkit-appearance:none;word-wrap:break-word !important;white-space:normal !important}
.form__input:focus{border-color:#fdca15}
.form__input:disabled{background-color:#f2f2f2;color:rgba(0,0,0,0.4)}
.form__input::-moz-placeholder{opacity:1;color:rgba(0,0,0,0.4);font-style:italic}
.form__input::-webkit-input-placeholder{opacity:1;color:rgba(0,0,0,0.4);font-style:italic}
.form__input:-ms-input-placeholder{opacity:1;color:rgba(0,0,0,0.4);font-style:italic}
.form__input-holder_alert .form__input{border:1px solid #e7455d}
.form__alert-text{color:#e7455d;font-size:12px;font-family:'Roboto',sans-serif;font-weight:400;margin-bottom:10px;margin-top:10px;margin-left:2px;display:none}
.form__input-holder_alert .form__alert-text{display:block}
.form__textarea{display:block;width:100%;box-sizing:border-box;height:128px;background-color:white;border:1px solid rgba(0,0,0,0.2);border-radius:2px;padding:11px 26px 11px 14px !important;color:#101010;font-family:'Roboto',sans-serif;font-weight:400;font-size:14px;-webkit-appearance:none;line-height:1.43;resize:vertical}
.form__textarea:focus{border-color:#fdca15}.form__textarea::-moz-placeholder{opacity:1;color:rgba(0,0,0,0.4);font-style:italic}
.form__textarea::-webkit-input-placeholder{opacity:1;color:rgba(0,0,0,0.4);font-style:italic}
.form__textarea:-ms-input-placeholder{opacity:1;color:rgba(0,0,0,0.4);font-style:italic}
.form__textarea.wpcf7-not-valid{border-color:#d21e1d}.form__textarea_small{height:40px;padding:10px 11px 10px 13px}
.form__submit{border:0;height:40px;background:#56a789;border-radius:2px;box-shadow:2px 1px 4px rgba(0,0,0,0.11);padding:0 107px;line-height:40px;color:white;font-family:'MuseoSansCyrl-700',sans-serif;letter-spacing:1px;font-size:14px;text-transform:uppercase;cursor:pointer}.form__submit_block{width:100%;box-sizing:border-box}
.form__submit:hover{background:#509b7f}
.add-new_edit .form__submit{padding:0 81px}
.form select{width:100%}.form .chosen-container{width:100% !important}
.form__select{width:100%;border-radius:0;height:30px;line-height:30px;font-size:16px;padding:0 24px}

@media screen and (max-width:1000px){.add-new .form__input-holder{width:100%}}
@media screen and (max-width:600px){.add-new .form__input-holder .form__input-holder{white-space:nowrap}}
@media screen and (max-width:500px){.form__input-holder .form__input-holder{width:100%;margin-right:0;margin-bottom:10px}
.form__input-holder .form__input-holder:last-child{margin-right:0}

.add-new .form__input-holder .form__input-holder{margin-right:6px;width:calc((100% - 10px) / 2)}
.add-new .form__input-holder .form__input-holder:last-child{margin-right:-4px}.form__input-holder-label{padding-right:30px;line-height:1.43}}

@media screen and (max-width:360px){.add-new .form__input{padding:0 5px;font-size:12px}}
@font-face{font-family:'MuseoSansCyrl-700';src:url('/fonts/327346_0_0.eot');src:url('/fonts/327346_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/327346_0_0.woff2') format('woff2'),url('/fonts/327346_0_0.woff') format('woff'),url('/fonts/327346_0_0.ttf') format('truetype')}@font-face{font-family:'Conv_MuseoSansCyrl-500';src:url('/fonts/MuseoSansCyrl-500.eot');src:local('☺'),url('/fonts/MuseoSansCyrl-500.woff') format('woff'),url('/fonts/MuseoSansCyrl-500.ttf') format('truetype'),url('/fonts/MuseoSansCyrl-500.svg') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Conv_Futura PT Demi';src:url('/fonts/Futura PT Demi.eot');src:local('☺'),url('/fonts/Futura PT Demi.woff') format('woff'),url('/fonts/Futura PT Demi.ttf') format('truetype'),url('/fonts/Futura PT Demi.svg') format('svg');font-weight:normal;font-style:normal}





.places-list__place-text-wrap{display:inline-block;vertical-align:top;width:calc(100% - 150px - 30px);margin-right:-4px}
.places-list__place-text-block{padding-right:60px}
.places-list__place-text{display:block;font-size:14px;font-family: Arial, sans-serif;font-weight:400;line-height:1.43;color:black; text-align: justify; padding-left: 22px;}
.places-list__place-country{color:rgba(0,0,0,0.4);font-family:'Arial',sans-serif;font-size:12px;margin-bottom:10px}
.places-list__place-name-wrap{margin-bottom:14px;max-width:80%}
.places-list__place-name{color:black;font-family:'Arial',sans-serif;font-size:24px;transition:all 1.9s ease; text-decoration:none}
.places-list__place-name:hover{color:#918851}









@media screen and (max-width:360px){.add-new__map-place-search{width:120px}}

.card-item__author-photo-img{max-width:100%}
.card-item__author-name{color:#56a789;font-family:'Conv_MuseoSansCyrl-500',sans-serif;font-size:12px;display:inline-block;vertical-align:middle;text-decoration:none;transition:all .3s ease}
.card-item__author-name:hover{color:#509b7f}


.places-list{margin-bottom:20px;margin-top:17px}.places-list_collection{padding-right:20px}
.places-list_community{margin-top:19px}.places-list_resize{padding-right:0}
.places-list__title-wrap{padding-bottom:51px;border-bottom:1px solid #e7e7e7;margin-bottom:20px;margin-top:42px;padding-left:30px;position:relative}
.places-list_resize .places-list__title-wrap{margin-top:-10px;padding-top:52px}
.places-list__title-container{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-pack:justify;justify-content:space-between}
.places-list__title-line{margin-bottom:20px;-ms-flex-preferred-size:70%;flex-basis:70%;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-pack:start;justify-content:flex-start;padding-right:30px}
.places-list__title{font-family:'MuseoSansCyrl-700',sans-serif;font-size:24px;margin-bottom:20px;display:none;text-align:center}
.places-list__title_visible{text-align:left;display:block;padding-bottom:51px;border-bottom:1px solid #e7e7e7;font-size:42px;margin-top:60px}
.places-list__title-wrap .places-list__title{font-family:'MuseoSansCyrl-700',sans-serif;font-size:42px;display:block;text-align:left;margin-bottom:0;-ms-flex-preferred-size:calc(100% - 44px - 14px);flex-basis:calc(100% - 44px - 14px)}
.places-list_resize .places-list__title{width:70%}
.places-list__tags-line{margin-bottom:24px;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center}
.places-list__tags-item{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center;margin-right:9px;margin-bottom:5px}
.places-list__tags-item:last-child{margin-right:0}.places-list__tags-item-hash{font-size:14px;font-family:'Roboto',sans-serif;font-weight:400;color:rgba(0,0,0,0.4)}
.places-list__tags-item-tag{font-size:14px;font-family:'Roboto',sans-serif;font-weight:400;color:rgba(0,0,0,0.4);text-decoration:none;transition:all .3s ease}
.places-list__tags-item-tag:hover{text-decoration:underline}
.places-list__title-button-block{-ms-flex-preferred-size:30%;flex-basis:30%;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-pack:end;justify-content:flex-end}
.places-list__title-button{display:inline-block;vertical-align:middle;position:relative}.places-list__title-button:first-child{margin-right:10px}.places-list__text-info{width:70%;font-size:14px;font-family:'Roboto',sans-serif;font-weight:400;color:black;line-height:1.43}
.places-list__text-info-link{font-family:'Roboto',sans-serif;font-weight:400;font-size:14px;color:#56a789;text-decoration:none}
.places-list__text-info-link:hover{color:#509b7f}
.places-list__show-on-map-link{color:#56a789;font-family:'Conv_MuseoSansCyrl-500',sans-serif;font-size:14px;text-align:center;text-decoration:none;padding-bottom:15px;border-bottom:1px solid #e7e7e7;margin-bottom:20px;display:none}
.places-list__top-line{display:block;margin-bottom:10px;padding-left:20px;padding-right:20px}
.places-list__cards-quantity{float:left;color:rgba(0,0,0,0.4);font-family:'Conv_MuseoSansCyrl-500',sans-serif;font-size:14px;margin-top:11px}
.places-list__sort-block{float:right;min-width:165px}.places-list__sort-text{font-family:'Conv_MuseoSansCyrl-500',sans-serif;font-size:14px;color:rgba(0,0,0,0.4);display:inline-block;vertical-align:middle;margin-right:6px}
.places-list__sort-block-select{width:100%}
.places-list__progress-block{position:absolute;right:24px;top:50px}.places-list_resize 
.places-list__progress-block{right:40px;bottom:41px;top:auto}
.places-list__progress{width:44px;height:44px;position:relative;z-index:20;margin-right:14px}
.places-list__progress canvas{width:100%;height:100%}
.places-list__progress strong{font-size:11px;font-family:'Conv_MuseoSansCyrl-500',sans-serif;color:black;position:absolute;left:0;right:0;text-align:center;top:16px;line-height:normal}
.places-list__progress_mobile{float:right;display:none;margin-right:20px}
.places-list__progress-text{color:rgba(0,0,0,0.4);font-size:14px;font-family:'Roboto',sans-serif;font-weight:400;text-align:center;line-height:1.43}
.places-list_collection .places-list__list{padding-left:30px}


/*
.places-list__place-text-link:hover{color:#509b7f}
.places-list__place-text-link{display:inline;font-size:14px;font-family:'Roboto',sans-serif;font-weight:400;line-height:1.43;color:#56a789;text-decoration:none}
*/





/*
.places-list__item-right-part{float:right;width:46%;box-sizing:border-box;text-align:left}
.places-list_resize .places-list__item-right-part{display:none}
.places-list_resize .places-list__item-left-part{width:100%}

*/


.places-list__place-img{max-width:100%;width:100%;height:100%}














.places-list__place-info{margin-bottom:20px}
.places-list__place-been-here{display:inline-block;vertical-align:middle;color:black;font-size:13px;font-family:'Conv_MuseoSansCyrl-500',sans-serif;position:relative;margin-right:23px}
.places-list__place-been-here:after{content:'';position:absolute;width:2px;height:2px;background-color:rgba(0,0,0,0.2);right:-14px;top:6px}
.places-list__place-want-to-visit{display:inline-block;vertical-align:middle;color:black;font-size:13px;font-family:'Conv_MuseoSansCyrl-500',sans-serif}.places-list__place-button-block{margin-bottom:15px}
.places-list__place-button{display:inline-block;vertical-align:middle;margin-right:10px}
.places-list__place-button:last-child{margin-right:0}
.places-list__place-person-photo{margin-right:10px;float:left}
.places-list__place-person-photo-item{display:inline-block;vertical-align:middle;width:24px;height:24px;border:2px solid white;overflow:hidden;border-radius:50%;box-sizing:border-box;margin-left:-13px}.places-list__place-person-photo-item:first-child{margin-left:0}.places-list__place-person-photo-img{max-width:100%}
.places-list__place-person-text-wrap{max-width:285px}
.places-list__place-person-name-block{display:inline}.places-list__place-person-name{font-family:'Conv_MuseoSansCyrl-500',sans-serif;font-size:12px;color:#56a789;text-decoration:none;display:inline;position:relative}
.places-list__place-person-name:after{content:',';font-family:'Conv_MuseoSansCyrl-500',sans-serif;font-size:12px;color:#56a789}
.places-list__place-person-name:last-child:after{display:none}.places-list__place-person-text{font-family:'Conv_MuseoSansCyrl-500',sans-serif;font-size:12px;color:black;display:inline}







.places-list__collection-item{width:calc((100% - 17px * 2) / 3);margin-right:13px;text-decoration:none;display:inline-block;vertical-align:top}
.places-list__collection-item:last-child{margin-right:-4px}
.places-list__collection-item-image{height:117px;width:150px;border-radius:1.4px;margin-bottom:10px;margin-left:auto;margin-right:auto;background-repeat:no-repeat;background-size:cover;background-position:50% 50%;position:relative}
.places-list__collection-item-image:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(135deg, rgba(30,83,136,0.1) 0, rgba(30,83,136,0.64) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1e5388', endColorstr='#a31e5388', GradientType=1);opacity:0;visibility:hidden;transition:all .3s ease}

.places-list__collection-item:hover .places-list__collection-item-image:after{opacity:1;visibility:visible}
.places-list__collection-item-title{display:block;margin-left:auto;margin-right:auto;color:black;font-family:'MuseoSansCyrl-700',sans-serif;font-size:14px;line-height:1.25;text-align:center}
.places-list__button{text-align:center;margin-bottom:12px;display:none}


@media screen and (max-width:1345px){.places-list__item-left-part{width:60%}
.places-list__item-right-part{width:40%}
.places-list__collection-item{width:calc((100% - 20px) / 2)}
.places-list__collection-item:nth-child(3){display:none}
.places-list__collection-item:nth-child(2){margin-right:-4px}}

@media screen and (max-width:1170px){.places-list__progress-block{display:none}
.places-list__progress_mobile{display:block}.places-list__title-wrap 
.places-list__title{font-size:32px}
.places-list__item-left-part{width:75%}.places-list__item-right-part{width:25%}
.places-list__collection-item{width:100%;margin-right:0}
.places-list__collection-item:nth-child(3){display:none}
.places-list__collection-item:nth-child(2){display:none}}

@media screen and (max-width:980px){.places-list__item-left-part{width:100%}
.places-list__item-right-part{display:none}
.places-list__title-button-block{-ms-flex-direction:column-reverse;flex-direction:column-reverse;-ms-flex-align:end;align-items:flex-end}
.places-list__title-button:last-child{margin-bottom:10px}.places-list__title-button:first-child{margin-right:0}}

@media screen and (max-width:815px){.places-list_collection{padding-right:0}.places-list__title-wrap{border-bottom:0;padding-bottom:0;padding-left:18px;padding-right:18px}
.places-list__title{display:block}.places-list__title_visible{margin-bottom:51px;border-bottom:0;padding-bottom:0}
.places-list__text-info{width:100%}.places-list__top-line{border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7}
.places-list__show-on-map-link{display:block;border-top:1px solid #e7e7e7;padding-top:15px}}

@media screen and (max-width:530px){.places-list__title-container{-ms-flex-pack:start;justify-content:flex-start;-ms-flex-wrap:wrap;flex-wrap:wrap}
.places-list__title-line{-ms-flex-align:center;align-items:center;-ms-flex-preferred-size:100%;flex-basis:100%;padding-right:0}
.places-list__title{text-align:center;padding-bottom:20px;margin-top:20px;font-size:24px;padding-left:18px;padding-right:18px}
.places-list__title_visible{margin-bottom:20px;padding-bottom:0}
.places-list__title-wrap .places-list__title{font-size:24px;padding-left:0;padding-right:0;padding-bottom:0;margin-bottom:0;margin-top:0}
.places-list__title-button-block{-ms-flex-direction:row;flex-direction:row;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-preferred-size:100%;flex-basis:100%;margin-bottom:15px}
.places-list__title-button:last-child{margin-bottom:0}.places-list__title-button:first-child{margin-right:10px}
.places-list_collection .places-list__list{padding-left:0}
.places-list__place-text-wrap{display:block;width:100%;text-align:center}
.places-list__place-name-wrap{padding-left:20px;padding-right:20px;margin-left:auto;margin-right:auto}
.places-list__place-person-block{max-width:256px;margin-left:auto;margin-right:auto;text-align:left}
.places-list__place-person-text-wrap{max-width:none}
.places-list__place-person-name-block{display:inline}.places-list__button{display:block}
.places-list__bottom-line{padding-left:20px;padding-right:20px}
.places-list__cards-count-on-page{float:none;display:block;text-align:center}
.places-list__pagination{display:none}
.places-list__place-text-block{margin-bottom:0;padding-right:0}}

@media screen and (max-width:415px){.places-list_collection{margin-top:0}
.places-list_collection .places-list__title-wrap{margin-top:19px}
.places-list__place-text-block{padding-left:18px;padding-right:18px}}



.cards-desc{margin-bottom:40px}
.cards-desc__copyright-icon{display:inline-block;vertical-align:middle;background-image:url(/img/sprite.png);background-position:-68px -232px;width:14px;height:14px}
.cards-desc__copyright-text{display:inline-block;vertical-align:middle;font-size:14px;font-family:'Roboto',sans-serif;font-weight:400;color:rgba(0,0,0,0.4)}
.cards-desc__copyright-name{display:inline-block;vertical-align:middle;text-decoration:none;font-size:14px;color:#56a789;font-family:'Roboto',sans-serif;font-weight:400}
.cards-desc__copyright-name:hover{color:#509b7f}
.cards-desc__error-report{margin-bottom:15px;text-align:right}
.cards-desc__error-report_mobile{display:none;text-align:left}
.cards-desc__error-report-text{display:inline-block;color:#56a789;font-family:'MuseoSansCyrl-700',sans-serif;font-size:14px;text-decoration:none}
.cards-desc__error-report-text:hover{text-decoration:underline}.cards-desc__top-wrap{position:relative;margin-bottom:14px}
.cards-desc__title{font-family:'MuseoSansCyrl-700',sans-serif;font-size:30px;line-height:1.3;margin-right:40px}
.cards-desc__change{position:absolute;right:0;top:0;width:40px;height:40px;background:white;box-shadow:2px 1px 4px rgba(0,0,0,0.11);border-radius:50%;border:0;cursor:pointer;transition:all .3s ease}
.cards-desc__change:after{content:'';position:absolute;top:50%;left:50%;background-image:url(/img/sprite.png);background-position:-136px -232px;width:14px;height:14px;margin-top:-7px;margin-left:-7px}
.cards-desc__change:hover{background:#fbfbfb}
.cards-desc__desc{color:black;font-family:'Roboto',sans-serif;font-weight:400;font-size:16px;line-height:1.3;margin-bottom:20px}
.cards-desc__hashtags{margin-bottom:30px;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}
.cards-desc__hashtags-item{margin-right:8px;margin-bottom:5px;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center}
.cards-desc__hashtags-item:last-child{margin-right:0}.cards-desc__hashtags-item-hash{font-family:'Roboto',sans-serif;font-weight:500;font-size:14px;color:rgba(0,0,0,0.4);margin-top:2px}
.cards-desc__hashtags-item-text{font-family:'Roboto',sans-serif;font-weight:500;font-size:14px;color:rgba(0,0,0,0.4);text-decoration:none;transition:all .3s ease}
.cards-desc__hashtags-item-text:hover{text-decoration:underline}
.cards-desc__serv-line{margin-bottom:28px;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center}
.cards-desc__buttons-block{margin-right:20px;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row}
.cards-desc__button{margin-right:10px;position:relative}
.cards-desc__button:last-child{margin-right:0}.cards-desc__said-thanks-block{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center}
.cards-desc__said-thanks-person-photo{overflow:hidden;border-radius:50%;border:2px solid white;-ms-flex-preferred-size:24px;flex-basis:24px;height:24px;margin-right:6px}
.cards-desc__said-thanks-person-photo-img{max-width:100%}
.cards-desc__said-thanks-text-wrap{-ms-flex-preferred-size:calc(100% - 24px - 6px);flex-basis:calc(100% - 24px - 6px)}
.cards-desc__said-thanks-person-name{font-family:'Conv_MuseoSansCyrl-500',sans-serif;font-size:14px;color:#56a789;display:inline;text-decoration:none}
.cards-desc__said-thanks-person-name:hover{text-decoration:underline}
.cards-desc__said-thanks-text{color:rgba(0,0,0,0.4);font-family:'Conv_MuseoSansCyrl-500',sans-serif;font-size:14px;display:inline;cursor:pointer;transition:all .3s ease;text-decoration:none}
.cards-desc__said-thanks-text:hover{color:#509b7f}





@media screen and (max-width:1090px){.cards-desc__serv-line{margin-bottom:10px;-ms-flex-direction:column;flex-direction:column;-ms-flex-align:start;align-items:flex-start}
.cards-desc__buttons-block{margin-right:0;margin-bottom:10px}}

@media screen and (max-width:815px){.cards-desc{padding-left:18px;padding-right:18px}
.cards-desc__copyright-line{margin-bottom:25px}.cards-desc__error-report{display:none}.cards-desc__error-report_mobile{display:block}}







@media screen and (max-width:415px){.cards-desc{padding-left:14px;padding-right:14px}
.cards-desc__author-name{font-size:12px}.cards-desc__post-date{font-size:12px}}

.cards-desc__copyright-text{font-size:13px}
.cards-desc__copyright-name{font-size:13px}
.cards-desc__copyright-line{margin-top:5px}
.cards-desc__author-top{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between}
.cards-desc__top-wrap{margin-bottom:12px}.cards-desc__title{margin-top:28px}.cards-desc__desc{margin-bottom:12px}
.cards-desc__serv-line{margin-top:40px;margin-bottom:50px}.cards-desc__buttons-block{-ms-flex-flow:row wrap;flex-flow:row wrap}








































